.horizontal-bar {
  display: flex;
  flex-grow: 1; }
  .horizontal-bar .bar {
    margin-left: -12px;
    margin-right: 20px; }
  .horizontal-bar .lable {
    flex-grow: 1;
    padding-left: 20%; }

.bike-station-header {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  border-bottom: 1px solid lightgray; }
  .bike-station-header > div:nth-child(1) {
    flex: 0 1 40%; }

.bike-stations {
  padding: 15px;
  align-items: center; }

.bike-station {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  border-bottom: 1px solid lightgray; }
  .bike-station-name {
    flex: 0 1 40%; }
  .bike-station-vaccant {
    padding-right: 30px; }
  .bike-station-header {
    font-weight: 600; }
