.bike-station {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  border-bottom: 1px solid lightgray; }
  .bike-station-name {
    flex: 0 1 40%; }
  .bike-station-vaccant {
    padding-right: 30px; }
  .bike-station-header {
    font-weight: 600; }
