.bike-station-header {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  border-bottom: 1px solid lightgray; }
  .bike-station-header > div:nth-child(1) {
    flex: 0 1 40%; }
