.bike-station {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    border-bottom: 1px solid lightgray; 
    &-name {
        //background-color: blue;
        flex: 0 1 40%;
    }
    &-locks {
        //background-color: orange;
    }
    &-vaccant {
        //background-color: red;
        padding-right: 30px;
    }
    &-header {
        font-weight: 600;
    }
}